<h3>Agendamento</h3>

<div class="form-group row">

    
  <form class="form-cadastro" action="/orcamentoCreate" method="POST">
    <div>
      <label for="example-datetime-local-input" class="col-2 col-form-label">Dia e horário</label>
        <div class="col-10">
          <input class="form-control" type="datetime-local" value="<%=formData.datetime%>" id="datetime" name="datetime">
        </div>
      <input type="submit" value="Enviar" />
    </div>
  </form>
  
</div>